/*Admin*/


/*Gestion*/
h1 , h2{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:lighter;
    font-size: 1.7em;
    /*text-decoration: underline;*/
    margin-bottom: 1.7em;
}

.btn-edit-admin{
    background-color: #c76b20; !important;
    color: #FFFFFF !important;
}

.btn-admin-retour{
    background-color: #c72320;
    color: #FFFFFF;
}

.btn-enregistrement{
    background-color: #F1915E;
    color: #FFFFFF;
}

label{
    color: #FFFFFF;
}

.row-edit-form{
    margin-top: 40px;
}
.edit-form{
    padding: 25px;
    border: 1.7px solid black;
    border-radius: 2%;
    margin-top: 50px;
    background-color: #167e82;
}

.admin-pseudo{
    color: #565656;
    font-weight: lighter;
    margin-left: 40px;
}
.img-admin{
    position: relative;
    top: 25px;
}
