/*Admin*/


/*Gestion*/
h1 , h2{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:lighter;
    font-size: 1.7em;
    color: #F1915E;
    /*text-decoration: underline;*/
    margin-bottom: 1.7em;
}

.btn-edit-admin{
    background-color: #222222 !important;
    color: #FFFFFF !important;
}

.row-edit-form{
    margin-top: 40px;
}
.edit-form{
    padding: 25px;
    border: 1.7px solid black;
    margin-top: 60px;
    background-color: #FFD37F;
}

.admin-pseudo{
    color: #565656;
    font-weight: lighter;
    margin-left: 40px;
}
.img-admin{
    position: relative;
    top: 25px;
}
