.contact-form form{
    background-color: #11666A;
    padding: 10px;
    margin-top: 20px;
    border-radius: 2%;
}

.contact-form form label{
    color: #FFFFFF;
}

.contact-form .form-group + button{
    background-color: #F1915E;
}