.nav-slim {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

#connexion-form {
    width: 25%;
}

#connexion-form label {
    padding: 0;
    margin: 0;
    color: white;
}

#connexion-form input {
    height: calc(1em + .5rem + 2px);
}

.form-check-input {
    height: auto;
    margin-top: 0;
}

.form-check-label {
    font-size: 0.875rem;
    position: absolute;
}

#connexion-form a {
    padding: 0;
    font-size: 0.875rem;
    float: right;
    color: white;
}

#connexion-form button {
    font-size: 0.875rem;
    height: calc(1.5em + .5rem + 2px);
    padding: 0 5px;
    align-self: center;
    margin-top: 3px;
}

#pitch {
    border-right: 2px solid black;
}