body {
    /*background: rgba(56,255,193,0.30) !important;*/
    background: #91DBC5 !important;
}

h1 , h2{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:lighter;
    color: #F1915E;
    /*text-decoration: underline;*/
}

h1{
    font-size: 2.3em;
}

h2{
    font-size: 1.7em;
}

.nav-slim {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.navbar {
    background: #F1915E;
}

#connexion-form {
    width: 25%;
}

#connexion-form label {
    padding: 0;
    margin: 0;
    color: white;
}

#connexion-form input {
    height: calc(1em + .5rem + 2px);
}

#connexion-form a {
    font-size: 0.875rem;
    float: right;
    color: white;
}

#connexion-form button {
    font-size: 0.875rem;
    height: calc(1.5em + .5rem + 2px);
    padding: 0 5px;
    align-self: center;
    margin-top: 3px;
}

.btn-success {
    background-color: #7FD152 !important;
    border-color: #7FD152 !important;
}


/*Achievement index*/
.border-card{
    padding: 4px;
    border:  4px solid ;
}

.btn-search{
    height: 40px;
    margin-top: 30px;
}

/*access/category/id*/
hr{
    clear: both;
}
.h2-category{
    margin-top: 40px;
    margin-bottom: 40px;
}
.img-category{
    float: left;
}
.category-description{
    color: #B0413E;
    font-style: italic;
}