body {
    background: #91DBC5 !important;
}

main {
    min-height: calc(100vh - 200px);
}

h1 , h2{
    font-family:Arial, Helvetica, sans-serif;
    color: #167e82;
    /*text-decoration: underline;*/
}

h1{
    font-size: 2.3em;
}

h2{
    font-size: 1.7em;
    font-weight:lighter;
}

.user-navbar {
    background: #F1915E;
}

.user-navbar a {
    padding: 16px;
    max-width: 175px;
}
.user-navbar a.navbar-brand {
    padding: 13px 0;
}

.user-navbar a:hover {
    /*-webkit-filter: brightness(70%);*/
    /*-moz-filter: brightness(70%);*/
    /*-o-filter: brightness(70%);*/
    /*-ms-filter: brightness(70%);*/
    filter: brightness(90%);
}

.profile-links a:nth-child(1) {
    background: gray;
}

.profile-links a:nth-child(2) {
    background: #AF5F1B;
}

.profile-links a:nth-child(3) {
    background: #11666A;
}

.profile-links a:nth-child(4) {
    background: #AF1F1B;
}


.btn-success {
    background-color: #7FD152 !important;
    border-color: #7FD152 !important;
}


/*Achievement index*/
.border-card{
    padding: 4px;
    border:  8px solid ;
}

.card-img-top {
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.category-selection .form-group{
    margin-bottom: 0;
}

.detail_img {
    min-height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

footer{
    margin-top: 70px;
    height: 160px;
    background-image: linear-gradient(to top,#167e82,#11666A) ;
}

footer a, footer a:hover{
    color: #FFFFFF;
    text-decoration: none;
}

footer .row:first-child {
    border-bottom: 1px solid gray;
}

.footer-img{
    width: auto;
    height: 60px;
}

/*access/category/id*/

hr{
    clear: both;
}
.h2-category{
    margin-top: 40px;
    margin-bottom: 40px;
}
.img-category{
    float: left;
}
.category-description{
    color: #B0413E;
    font-style: italic;
}

/*----------------------------------*/
/*----- Mobile-specific rules -----*/
/*----------------------------------*/

@media screen and (max-width: 991px) {
    .user-navbar a {
        border-radius: .25rem;
    }

    .cat-link {
        background: none !important;
    }
}

/*----------------------------------*/
/*----- Desktop-specific rules -----*/
/*----------------------------------*/

@media screen and (min-width: 992px) {
    .user-navbar {
        padding: 0 0 0 16px;
    }

    .nav-slim {
        padding-top: 2px !important;
        padding-bottom: 2px !important;
    }
}