body {
    background: #91DBC5 !important;
}

h1 , h2{
    font-family:Arial, Helvetica, sans-serif;
    color: #167e82;
    /*text-decoration: underline;*/
}

h1{
    font-size: 2.3em;
}

h2{
    font-size: 1.7em;
    font-weight:lighter;
}

.nav-slim {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.navbar {
    background: #F1915E;
    padding: 0 0 0 16px;
}


.navbar a {
    padding: 16px;
}
.navbar a.navbar-brand {
    padding: 13px 0;
}

.profile-links a:nth-child(1) {
    background: #AF5F1B;
}
.profile-links a:nth-child(1):hover {
    background: #c76b20;
}

.profile-links a:nth-child(2) {
    background: #11666A;
}
.profile-links a:nth-child(2):hover {
    background: #167e82;
}

.profile-links a:nth-child(3) {
    background: #AF1F1B;
}
.profile-links a:nth-child(3):hover {
    background: #c72320;
}


.btn-success {
    background-color: #7FD152 !important;
    border-color: #7FD152 !important;
}


/*Achievement index*/
.border-card{
    padding: 4px;
    border:  4px solid ;
}

.btn-search{
    float: right;
    margin-top: 15px;
    margin-left: 5px;
}
.search-right{
    float: right;
    width: 30%;
}
#search_achievements_category{
    width: 100%;
}
footer{
    margin-top: 70px;
    height: 160px;
    background-color: #11666A;
}
.footer-list{
    list-style: none;
}
.footer-list a{
    color: #FFFFFF;
    text-decoration: none;
}
.footer-img{
    width: auto;
    height: 60px;
}
/*access/category/id*/
hr{
    clear: both;
}
.h2-category{
    margin-top: 40px;
    margin-bottom: 40px;
}
.img-category{
    float: left;
}
.category-description{
    color: #B0413E;
    font-style: italic;
}