{% extends 'base.html.twig' %}

{% block title %}{{ category.name ~ ' - ' ~ parent() }}{% endblock %}

{% block body %}
    <h1 style="color:saddlebrown;">Catégorie :</h1>
    <strong class="mb-2 mt-2" style="font-size: 30px;">{{ category.name }}</strong>

    {% if category.description is not null %}
        <h4 style="color: saddlebrown;" class="mt-5">Description de la Catégorie :</h4>
        <p class="mt-2">{{ category.description }}</p>
    {% endif %}

    <h4 style="color: saddlebrown;" class="mt-5">Activités associées à la catégorie </h4>
    <div class="row">
        {% for achievement in achievements %}
            {{ render(controller('App\\Controller\\AchievementController::card', {'achievement' : achievement})) }}
        {% endfor %}
    </div>
{% endblock %}
