{% for category in categories %}
    <a class="nav-link text-white d-flex justify-content-start" href="{{ path('app_category_index' , {'id': category.id}) }}">
        {{ category.name }}
    </a>
{% endfor %}