{% block title %}

{% endblock %}

{% block body %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            {% for category in categories %}
                    <a class="nav-link" href="{{ path('app_category_index' , {'id': category.id}) }}">
                        {{ category.name }}
                    </a>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
