{% for category in categories %}
    <a class="cat-link nav-link text-white" href="{{ path('app_category_index' , {'id': category.id}) }}" style="background: {{ category.color }}">
        {{ category.name }}
    </a>
{% endfor %}