{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('style/index.css') }}">
    <link rel="stylesheet" href="{{ asset('style/cgu.css') }}">
{% endblock %}

{% block body %}
    <h1 class="my-5">Conditions générales d'utilisation</h1>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur
        magnam magni molestias non odit officia praesentium quaerat quasi qui quibusdam quos rem sint vel!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias architecto aspernatur,
        autem consequatur cumque delectus deleniti dicta, illum magni maxime minima molestias natus non officia
        perspiciatis quasi veritatis voluptatem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi
        architecto distinctio dolores dolorum, fuga harum impedit iusto libero magni minus molestias optio possimus quae
        sapiente, sequi sunt vero voluptatem.
    </p>
    <br>
    <h2 class="mt-4 mb-3">1.Objet du site</h2>
    <p>
        Le site "unpasapreslautre.fr" a pour objet de permettre à ses utilisateurs de réaliser des activités durant
        la période de confinement que nous vivons, au travers des différents défis proposé par le site.
        Répertoriés par catégories, ces défis permettront aux utilisateurs d'investir le temps qu'ils ont à leur
        disposition pour des activités de leurs choix.
    </p>
    <hr>
    <h2 class="mt-4 mb-3">2.Création de compte</h2>
    <p>Les données nécessaires pour créer un compte et utiliser le service, sont l'adresse email, le pseudo de
        l'utilisateur et son mot de passe
    </p>
    <hr>
    <h2 class="mt-4 mb-3">3.Protection des données à caractère personnel</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, alias aut corporis dignissimos minus quam
        sequi sint tempore ut vero! Atque blanditiis deserunt ipsum neque omnis sint soluta temporibus voluptatum?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aut debitis enim error ex facere, fugiat impedit
        inventore iure molestiae molestias nisi nostrum perspiciatis placeat ratione, tempora ut veritatis! Reprehenderit.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam aspernatur at beatae dignissimos dolor
        dolores ea, ex facilis ipsum iste iure laudantium magni molestias, nam odit quas quia quo recusandae repellendus.
        Beatae consequatur dolores id illum nisi placeat voluptatibus. Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Architecto aut in iure natus placeat. Architecto, at error illum iste, laborum necessitatibus
        quidem saepe sint tempore unde veniam vero voluptatem voluptatibus.
    </p>
    <hr>
    <h2 class="mt-4 mb-3">4.Responsabilité</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur
        magnam magni molestias non odit officia praesentium quaerat quasi qui quibusdam quos rem sint vel!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias architecto aspernatur,
        autem consequatur cumque delectus deleniti dicta, illum magni maxime minima molestias natus non officia
        perspiciatis quasi veritatis voluptatem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi
        architecto distinctio dolores dolorum, fuga harum impedit iusto libero magni minus molestias optio possimus quae
        sapiente, sequi sunt vero voluptatem.
    </p>
    <hr>
    <h2 class="mt-4 mb-3">5.Propriété intellectuelle</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur
        magnam magni molestias non odit officia praesentium quaerat quasi qui quibusdam quos rem sint vel!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias architecto aspernatur,
        autem consequatur cumque delectus deleniti dicta, illum magni maxime minima molestias natus non officia
        perspiciatis quasi veritatis voluptatem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi
        architecto distinctio dolores dolorum, fuga harum impedit iusto libero magni minus molestias optio possimus quae
        sapiente, sequi sunt vero voluptatem.
    </p>
    <hr>
{% endblock %}