{% extends 'base.html.twig' %}
{% block title %}Mot de passe oublié - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('style/index.css') }}">
{% endblock %}

{% block body %}
    <h3 class="mt-5">Mot de passe oublié</h3>
    <p class="mt-5">
        Veuillez entrer votre adresse email pour recevoir un mot de passe temporaire.
        Il est très important que vous le <span style="color: red">changiez</span>
        dès que vous vous reconnectez, dans les paramètres de votre compte.
    </p>
    <form method="post">
        <div class="form-group">
            <label for="emailForReset">Adresse email</label>
            <input id="emailForReset" name="emailForReset" type="email" class="form-control">
        </div>
        <a href="{{ path('app_index_index') }}" class="btn btn-secondary">Retour</a>
        <button class="btn btn-info float-md-right">Recevoir mon mot de passe temporaire</button>
    </form>
{% endblock %}


