<h3>Voici votre nouveau mot de passe</h3>
<p><strong>{{ password }}</strong></p>
<h4>Veuillez vous connecter immédiatement avec ce nouveau mot de passe et le
    <span style="color: red">modifier</span>
</h4>
