{% extends 'base.html.twig' %}


{% block body %}
    <h1>Politique de confidentialité</h1>
    <hr>
    <br>
    <p class="text-justify" style="width: 60%">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur
        magnam magni molestias non odit officia praesentium quaerat quasi qui quibusdam quos rem sint vel!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias architecto aspernatur,
        autem consequatur cumque delectus deleniti dicta, illum magni maxime minima molestias natus non officia
        perspiciatis quasi veritatis voluptatem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi
        architecto distinctio dolores dolorum, fuga harum impedit iusto libero magni minus molestias optio possimus quae
        sapiente, sequi sunt vero voluptatem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque doloremque
        earum ipsa iure! Amet, at beatae deleniti distinctio dolores eos in nihil officiis, optio possimus quia rem
        temporibus, vitae voluptas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur expedita iure
        pariatur quod vel? Blanditiis consequatur deleniti, deserunt eligendi explicabo fugit iure, laudantium maxime
        omnis placeat quibusdam ratione sapiente  assumenda, facilis fuga inventore iure voluptate.
    </p>
{% endblock %}