{% extends 'base.html.twig' %}

{% block title %} AchievementController {% endblock %}

{% block body %}
    <h1>Relève le défi</h1>
    <br>
    <br>
    <div class="container">
        <h2 style="font-size: 1.4em">
            Rentabilise ton temps durant le confinement
        </h2>
        <p style="font-size: small" class="mt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur doloribus est excepturi nam natus porro
            possimus quas voluptas. Harum, perspiciatis voluptatem. Aperiam autem dolorum ea eligendi esse est excepturi
            expedita id magni nemo, nesciunt non nostrum officiis pariatur quo rerum sunt? Distinctio earum incidunt
            laudantium molestias optio placeat, quam unde?<br><br>
            Découvrez nos différents défi à partir de leur catégorie : <br><br>
            {% for category in categories %}
                <a href="{{ path('app_category_index', {'id': category.id}) }}" class="btn btn-outline-primary">
                    {{ category.name }}
                </a>
            {% endfor %}
        </p>
        <br>
        <h2 style="font-size: 1.4em" class="mb-5">Quelques exemples de défi que tu peux relevé :</h2>
        <div class="container">
            <div class="row">
                {% for achievement in achievements %}
                    {{ render(controller('App\\Controller\\AchievementController::card', {'achievement' : achievement})) }}
                {% endfor %}
                <div class="col-12 d-flex justify-content-center">
                    <span class="">{{ knp_pagination_render(achievements) }}</span>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
