{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('style/index.css') }}">
{% endblock %}

{% block title %}Page non trouvée - {{ parent() }}{% endblock %}
{% block body %}
    <h1 class="mt-5">Cette page n'existe pas!</h1>
    <p class="mt-5">
        Veuillez vérifier l'exactitude de l'adresse utilisée. Si vous avez la flemme, vous pouvez
        cliquer <a href="{{ path('app_achievement_index') }}">ici</a> pour revenir à l'accueil.
    </p>
{% endblock %}